
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #090909;
    margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
}


footer{
  text-align: center;
  background-color: #090909;
  color: white;
  margin: auto;
  margin-bottom: 0;
  padding: 2rem;
}

nav{
  padding: 1.5rem 1.5rem;
}

a {
  text-decoration: none;
  padding: 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: #090909;
}

a:hover{
  color: grey;
}

.title {
  padding: 0.5rem 1.5rem;
  font-weight: 700;
  font-size: 1rem;
}


.hero-post {
  display: flex;
  align-items: flex-end;
  background-image: url("../images/pic1.jpg");
  background-size: cover;
  width: 100vw;
  height: 300px;
}

.hero-div {
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin: 2.5rem 1.5rem;
}

.article-title-hero {
  color: white;
  text-shadow: 2px 2px black;
  font-size: 2rem;
  font-weight: 700;
}

.article-preview-hero {
  color: white;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
  text-shadow: 2px 2px black;
}


.article-listing {
  width: 400px;
  height: 500px;
  margin: auto;
  margin: 2.25rem auto 1rem auto;
  padding: 1.5rem;
}

.hidden {
  display: none;
}

.view-more{
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  margin: 5rem;
  cursor: pointer;
}

.blog-pic{
  width: 400px;
  height: 275px;
}

.about-me {
  margin: auto;
}

.about-me-intro {
  margin: auto;
}

.selfpic {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;

}

.about-me-title {
  color: #090909;
}

 .bold-text {
  font-weight: 700;
}

.recent-post-title {
  color: #090909;
  text-align: center;
  font-weight: 700;
  margin-top: 4rem;
  margin-bottom: 0;
}

.blog-link{
  padding: 0;
}

.blog-main-pic {
  width: 80%;
  height: auto;
  display: block;
  margin: 2rem auto;
}


@media (min-width: 768px){
  .article-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .about-me {
    display: flex;
    margin-left: 1rem;
  }

  .about-me-heading {
    margin-left: 2rem;
  }

}